# ── Django ────────────────────────────────────────────────────────────────────
DJANGO_SECRET_KEY=<CLAVE_SEGURA>
APP_URL=<APP_URL>
# Cambiar si es necesario
HERZENDO_PUERTO_LOCAL=8080 
HERZENDO_PUERTO_HTTP=80
HERZENDO_PUERTO_HTTPS=443

# ── Base de datos MySQL ───────────────────────────────────────────────────────
DB_HOST=db
DB_PORT=3306
DB_DATABASE=jossuni_db
DB_USER=jossuni
DB_PASSWORD_FILE=/run/secrets/db_password
DB_ROOT_PASSWORD_FILE=/run/secrets/db_root_password

# ── Gemini API (obtener en aistudio.google.com) ───────────────────────────────
GEMINI_API_KEY=<GEMINI_API_KEY>
GEMINI_MODEL=gemini-1.5-flash

# ── Configuraciones de desarrollo ─────────────────────────────────────────────
DB_LOCAL_PORT=3306 # Cambiar si es necesario
